@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}
:root {
  --radius: 0.5rem;
  --background: oklch(1 0 180);
  --foreground: oklch(0.08 0.024 317.961);
  --muted: oklch(0.952 0.005 315.407);
  --muted-foreground: oklch(0.392 0.016 315.254);
  --popover: oklch(0.992 0 161.565);
  --popover-foreground: oklch(0 0 0);
  --card: oklch(0.992 0 161.565);
  --card-foreground: oklch(0 0 0);
  --border: oklch(0.951 0.006 315.399);
  --input: oklch(0.951 0.006 315.399);
  --primary: oklch(0.416 0.173 312.358);
  --primary-foreground: oklch(0.941 0.029 315.297);
  --secondary: oklch(0.895 0.01 315.38);
  --secondary-foreground: oklch(0.379 0.026 315.137);
  --accent: oklch(0.825 0.027 315.291);
  --accent-foreground: oklch(0.298 0.031 314.985);
  --destructive: oklch(0.597 0.175 40.851);
  --destructive-foreground: oklch(1 0 180);
  --ring: oklch(0.416 0.173 312.358);
  --chart-1: oklch(0.416 0.173 312.358);
  --chart-2: oklch(0.895 0.01 315.38);
  --chart-3: oklch(0.825 0.027 315.291);
  --chart-4: oklch(0.92 0.008 315.392);
  --chart-5: oklch(0.416 0.179 312.11);
}

.dark {
  --radius: 0.5rem;
  --background: oklch(0 0 0);
  --foreground: oklch(0.991 0.002 315.419);
  --muted: oklch(0.167 0.005 17.685);
  --muted-foreground: oklch(0.775 0.01 17.367);
  --popover: oklch(0.092 0 180);
  --popover-foreground: oklch(1 0 180);
  --card: oklch(0.092 0 180);
  --card-foreground: oklch(1 0 180);
  --border: oklch(0.209 0.016 315.111);
  --input: oklch(0.209 0.016 315.111);
  --primary: oklch(0.416 0.173 312.358);
  --primary-foreground: oklch(0.941 0.029 315.297);
  --secondary: oklch(0.259 0 167.471);
  --secondary-foreground: oklch(0.797 0 180);
  --accent: oklch(0.315 0.01 17.715);
  --accent-foreground: oklch(0.84 0.008 17.315);
  --destructive: oklch(0.683 0.167 43.368);
  --destructive-foreground: oklch(0 0 0);
  --ring: oklch(0.416 0.173 312.358);
  --chart-1: oklch(0.416 0.173 312.358);
  --chart-2: oklch(0.259 0 167.471);
  --chart-3: oklch(0.315 0.01 17.715);
  --chart-4: oklch(0.29 0 180);
  --chart-5: oklch(0.416 0.179 312.11);
}


@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}